default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: <%= ENV.fetch("POSTGRES_USER") { "root" } %>
  password: <%= ENV.fetch("POSTGRES_PASSWORD") { "root" } %>
  host: localhost

development:
  <<: *default
  database: online_fitness_booking_api_development

test:
  <<: *default
  database: online_fitness_booking_api_test

production:
  <<: *default
  database: online_fitness_booking_api_production
  # username: online_fitness_booking_api
  # password: <%= ENV['ONLINE_FITNESS_BOOKING_API_DATABASE_PASSWORD'] %>
