default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: <%= ENV.fetch("POSTGRES_USER") { "root" } %>
  password: <%= ENV.fetch("POSTGRES_PASSWORD") { "root" } %>
  host: localhost

development:
  <<: *default
  database: team_editor_api_development

test:
  <<: *default
  database: team_editor_api_test

production:
  <<: *default
  database: team_editor_api_production
  # username: team_editor_api
  # password: <%= ENV['TEAM_EDITOR_API_DATABASE_PASSWORD'] %>
