default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: <%= ENV.fetch("POSTGRES_USER") { "root" } %>
  password: <%= ENV.fetch("POSTGRES_PASSWORD") { "root" } %>
  host: localhost

development:
  <<: *default
  database: team_editor_api_development

test:
  <<: *default
  database: team_editor_api_development

production:
  <<: *default
  database: team_editor_api_development
  # username: team_editor_api_development
  # password: <%= ENV['team-_API_DATABASE_PASSWORD'] %>

